.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.body {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 8fr 4fr;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
}
