@page "/Auth/Logout"
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Đăng xuất</title>
</head>
<body>
    <script>
        sessionStorage.clear();
        localStorage.removeItem('jwt');
        // Xoá cookie jwt
        document.cookie = 'jwt=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; SameSite=Strict';
        window.location.href = '/Auth/Login';
    </script>
</body>
</html>
